server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://avnadmin:AVNS_GCd9Vyeb51GqHVHh2c6@mysql-1e3761d0-pintefranklin-c578.g.aivencloud.com:28729/defaultdb?ssl-mode=REQUIRED
    username: avnadmin
    password: AVNS_GCd9Vyeb51GqHVHh2c6
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect